WCFUnitTest/Service References/LotServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LotService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILotService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ILotService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ILotService_GetAllByAuction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByAuction" />
  </wsdl:message>
  <wsdl:message name="ILotService_GetAllByAuction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByAuctionResponse" />
  </wsdl:message>
  <wsdl:message name="ILotService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ILotService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ILotService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ILotService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ILotService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ILotService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ILotService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotService/Add" message="tns:ILotService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotService/AddResponse" message="tns:ILotService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllByAuction">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotService/GetAllByAuction" message="tns:ILotService_GetAllByAuction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotService/GetAllByAuctionResponse" message="tns:ILotService_GetAllByAuction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotService/Update" message="tns:ILotService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotService/UpdateResponse" message="tns:ILotService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotService/Delete" message="tns:ILotService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotService/DeleteResponse" message="tns:ILotService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotService/GetById" message="tns:ILotService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotService/GetByIdResponse" message="tns:ILotService_GetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILotService" type="tns:ILotService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ILotService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllByAuction">
      <soap:operation soapAction="http://tempuri.org/ILotService/GetAllByAuction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ILotService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ILotService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/ILotService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LotService">
    <wsdl:port name="BasicHttpBinding_ILotService" binding="tns:BasicHttpBinding_ILotService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFService/LotService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>