WCFUnitTest/Service References/ArtPieceServiceReference/WCFBusinessLogic.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArtPiece">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtPieceId" type="xs:int" />
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="PictureUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchasePrice" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ArtPiece" nillable="true" type="tns:ArtPiece" />
  <xs:complexType name="ArrayOfArtPiece">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtPiece" nillable="true" type="tns:ArtPiece" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtPiece" nillable="true" type="tns:ArrayOfArtPiece" />
</xs:schema>