WCFUnitTest/Service References/BidServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="bid" nillable="true" type="q1:Bid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="lot" nillable="true" type="q2:Lot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="GetAllByLotResult" nillable="true" type="q3:ArrayOfBid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>