AdminClient/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" />
  <xs:element name="AddArtPiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="piece" nillable="true" type="q1:ArtPiece" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArtPieceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArtPieces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArtPiecesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="GetAllArtPiecesResult" nillable="true" type="q2:ArrayOfArtPiece" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArtPiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="piece" nillable="true" type="q3:ArtPiece" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArtPieceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArtPiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArtPieceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtPieceById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtPieceByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="GetArtPieceByIdResult" nillable="true" type="q4:ArtPiece" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAvilableArtPieces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAvilableArtPiecesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="GetAllAvilableArtPiecesResult" nillable="true" type="q5:ArrayOfArtPiece" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="auction" nillable="true" type="q6:Auction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuctionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="auction" nillable="true" type="q7:Auction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuctionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuctions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuctionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="GetAllAuctionsResult" nillable="true" type="q8:ArrayOfAuction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuctionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="GetAuctionByIdResult" nillable="true" type="q9:Auction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="lot" nillable="true" type="q10:Lot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="lot" nillable="true" type="q11:Lot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLotsByAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="auction" nillable="true" type="q12:Auction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLotsByAuctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="GetAllLotsByAuctionResult" nillable="true" type="q13:ArrayOfLot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="lot" nillable="true" type="q14:Lot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="GetLotByIdResult" nillable="true" type="q15:Lot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="bid" nillable="true" type="q16:Bid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBidResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBidsByLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="lot" nillable="true" type="q17:Lot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBidsByLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="GetAllBidsByLotResult" nillable="true" type="q18:ArrayOfBid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMembers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="GetAllMembersResult" nillable="true" type="q19:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFBusinessLogic.Model" minOccurs="0" name="GetMemberByIdResult" nillable="true" type="q20:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>